.DS_Store
*.log
*.txt
/user_scripts/report/*
config_oci_dev.yml
config_oci_leg.yml
config_oci_prd.yml
config_oci_stg.yml
config_oci.yml
loader_uploads.yml
main.retry
tasks/main_loader_uploads.yml
tasks/main_loader_uploads.yml.old
user_scripts/odbfcl/sh_extractor/*.zip
user_scripts/odbfcl/sh_extractor/build_zip.sh
