.DS_Store
main.retry
*.txt
*.log
/user_scripts/report/*
user_scripts/odbfcl/sh_extractor/*.zip
config_oci_stg.yml
config_oci_prd.yml
config_oci_leg.yml
config_oci_dev.yml
tasks/main_loader_uploads.yml
tasks/main_loader_uploads.yml.old
loader_uploads.yml